body{
    width: 100%;
    height: 100vh;
    background-color: hsl(220, 15%, 55%);
}

.container{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cardholder{

}

.qrcode{
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 10px;
}

.qrcode img {
    max-width: 100px;
    height: 100px;
}